.pinkBg {
    background-color: #00e676!important;
    background-image: linear-gradient(90deg, #00e676, #00e676);
}
.intro-banner-vdo-play-btn{
    height:2px;
    width:2px;
    position:absolute;
    #top:50%;
    #left:50%;
    text-align:center;
    margin:6px 0 0 -7px;
    border-radius:100px;
    z-index:1
}
.intro-banner-vdo-play-btn i{
    line-height:0px;
    font-size:15px
}
.intro-banner-vdo-play-btn .ripple{
    position:absolute;
    width:30px;
    height:30px;
    z-index:-1;
    left:50%;
    top:50%;
    opacity:0;
    margin:-10px 0 0 -10px;
    border-radius:100px;
    -webkit-animation:ripple 1.8s infinite;
    animation:ripple 1.8s infinite
}

@-webkit-keyframes ripple{
    0%{
        opacity:1;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes ripple{
    0%{
        opacity:1;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
.intro-banner-vdo-play-btn .ripple:nth-child(2){
    animation-delay:.3s;
    -webkit-animation-delay:.3s
}
.intro-banner-vdo-play-btn .ripple:nth-child(3){
    animation-delay:.6s;
    -webkit-animation-delay:.6s
}









.wrapper1 {
    text-align:center;
    font-size:15px;
    color:#ffeb3b;
    position:relative;
    float: right;
    left: -75px;
    #top:100px;
}

/*
.line {
    width:1px;
    height:100px;
    color:#000;
    background:#000;
    margin-left:250px;
    animation: line 5s  ease-in-out 2s infinite;
} */

.circle-2 {
    width: 1px;
    height: 200px;
    background: #f50057;
    position:absolute;
    top: -90px;
    left: 33px;
}

.circle {
    line-height:70px;
    width: 70px;
    border-radius:50px;
    height: 70px;
    background: #f50057;
    position: relative;
    animation: mymove 5s  ease-in-out 2s infinite;
    position:absolute;
    top: -50px;
    #left:100px;
}


/* Chrome, Safari, Opera */
@keyframes line {
    0% { height:100px}
    50% { height:200px}
    100% { height:100px}
}

@keyframes mymove {
    0% { top:50px}
    50% { top:100px}
    100% { top:50px}
}










.container{max-width:1170px; margin:auto;}
.heart_img{margin:0px 0 0 0;}


.heart_img img {
    animation: 2.5s ease 0s normal none infinite running animateHeartBeat;
    overflow: inherit;
    position: relative; display:inline-block; max-width:10px;
}

@keyframes animateHeartBeat {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(1.4);
    }
    10% {
        transform: scale(1.3);
    }
    15% {
        transform: scale(1.8);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes animateHeartBeat {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(1.4);
    }
    10% {
        transform: scale(1.3);
    }
    15% {
        transform: scale(1.8);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

