.shop-card-description {
    font-size: 12px;
    margin: 5px 0;
}

.shop-card-floor {
    margin-top: 10px;
}

.shop-card-floor {
    margin-top: 10px;
}

.shop-card-full-description {
    margin: 10px 0;
    color: #878787;
}